
body { 
  min-height: 100vh;
  font-family:Arial, Helvetica, sans-serif;
  /* 'Wendy One', sans-serif; */
  background: linear-gradient(to right, black, #001F3F);

}
.lato {
  font-family: 'Lato', sans-serif;
}
